<link rel="stylesheet" type="text/css" href="../static/styles/style.css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation-HMP</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section id="erreur">
        <h1>ERROR</h1>
    </section>
    <section id="type_erreur">Erreur: {{ err }}</section>

    <section id="imageHMP_erreur"></section>
        <img src="../static/images/HMP.png" alt="icon" width="20%" height="20%">
    </section>

    <!-- Pied de page -->
    <footer>
        <p>&copy; 2024 Site de Configuration. Tous droits réservés.</p>
        <p><a href="#">Politique de confidentialité</a> | <a href="#">Conditions d'utilisation</a></p>
    </footer>

</body>
</html>
